<!-- Contact -->
<section>
	<div class="inner">
		<div class="row 200%" id="subscribe">
		<div class="6u 12u$(medium)">
			<section class="field half">
				<form action="//hackbridge.us16.list-manage.com/subscribe/post?u=772077aa6a3be6e740894f0bf&amp;id=17ee0f5532" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>	
					<header class="major">
						<h2>Subscribe for Updates</h2>
					</header>
					<div class="field half first">
						<label for="name">First Name*</label>
						<input type="text" name="FNAME" class="required" id="mce-FNAME" />
					</div>
					<div class="field half">
						<label for="email">Email*</label>
						<input type="email" name="EMAIL" class="required email" id="mce-EMAIL" />
					</div>
					<div style="position: absolute; left: -5000px;" aria-hidden="true">
						<input type="text" name="b_772077aa6a3be6e740894f0bf_17ee0f5532" tabindex="-1" value="">
					</div>
					
					<label for="email">Position*</label>
					<div class="12u$">
						<div class="mc-field-group select-wrapper">
							<select name="MMERGE2" class="required" id="mce-MMERGE2">
								<option value="">Select an option...</option>
								<option value="Undergraduate">Undergraduate</option>
								<option value="Graduate">Graduate</option>
								<option value="Staff">Staff</option>
							</select>
						</div>
					</div>
					</br>
					<h4>Also keep me posted about: </h4>
					<div class="row uniform">
						<div class="6u 12u$(small)">
							<input type="checkbox" value="2" name="group[1187][2]" id="mce-group[1187]-1187-0" checked>
							<label for="mce-group[1187]-1187-0">Cluster</label>
						</div>
						<div class="6u 12u$(small)">
							<input type="checkbox" value="4" name="group[1187][4]" id="mce-group[1187]-1187-1" checked>
							<label for="mce-group[1187]-1187-1">Aspire</label>
						</div>
						<div class="6u 12u$(small)">
							<input type="checkbox" value="8" name="group[1187][8]" id="mce-group[1187]-1187-2" checked>
							<label for="mce-group[1187]-1187-2">Repository</label>
						</div>
						<div class="6u 12u$(small)">
							<input type="checkbox" value="16" name="group[1187][16]" id="mce-group[1187]-1187-3" checked>
							<label for="mce-group[1187]-1187-3">Tech Events</label>
						</div>
					</div>
					<div id="mce-responses" class="clear row uniform">
						<font size="3">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
						</font>
					</div>
					<ul class="actions">
						<li><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="special"/></li>
						<li><input type="reset" value="Clear" /></li>
					</ul>
				</form>
				<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
				<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='MMERGE2';ftypes[2]='dropdown';}(jQuery));var $mcj = jQuery.noConflict(true);</script>			</section>
		</div>
		<div class="6u 12u$(medium)">
			<section class="split">
				<section>
					<header class="major">
						<h2>Get in touch</h2>
					</header>
					<p>Have an idea to make Hackbridge better? Want us to feature some content? Shoot us a message!</p>
					<div class="contact-method">
						<span class="icon alt fa-envelope"></span>
						<h3>Email</h3>
						<a href="mailto:{{ site.email }}?Subject=Hi%20there%21">{{ site.email }}</a>
					</div>
				</section>
			</section>
		</div>
		</div>
	</div>
</section>

<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				{% if site.twitter_url %}
				<li><a href="{{ site.twitter_url }}" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
				{% endif %}
				{% if site.googleplus_url %}
				<li><a href="{{ site.googleplus_url }}" class="icon alt fa-google-plus" target="_blank"><span class="label">Google+</span></a></li>
				{% endif %}
				{% if site.facebook_url %}
				<li><a href="{{ site.facebook_url }}" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
				{% endif %}
				{% if site.instagram_url %}
				<li><a href="{{ site.instagram_url }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
				{% endif %}
				{% if site.pinterest_url %}
				<li><a href="{{ site.pinterest_url }}" class="icon alt fa-pinterest" target="_blank"><span class="label">Pinterest</span></a></li>
				{% endif %}
				{% if site.500px_url %}
				<li><a href="{{ site.500px_url }}" class="icon alt fa-500px" target="_blank"><span class="label">500px</span></a></li>
				{% endif %}
				{% if site.gitlab_url %}
				<li><a href="{{ site.gitlab_url }}" class="icon alt fa-gitlab" target="_blank"><span class="label">GitLab</span></a></li>
				{% endif %}
				{% if site.github_url %}
				<li><a href="{{ site.github_url }}" class="icon alt fa-github" target="_blank"><span class="label">GitHub</span></a></li>
				{% endif %}
				{% if site.slack_url %}
				<li><a href="{{ site.slack_url }}" class="icon alt fa-slack" target="_blank"><span class="label">Slack</span></a></li>
				{% endif %}
				{% if site.linkedin_url %}
				<li><a href="{{ site.linkedin_url }}" class="icon alt fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
				{% endif %}
			</ul>
			<ul class="copyright">
				<li>&copy; {{ site.title }} {{ site.subtitle }}</li>
				<li>Content: <a href="https://imranahmed.io" target="_blank">Imran Ahmed</a></li>
				<li>Design: <a href="https://html5up.net" target="_blank">HTML5 UP</a></li>
			</ul>
		</div>
	</footer>

</div>

<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
